@import './xaro-form';

*,
*:before,
*:after {
  box-sizing: border-box;
  
  &:focus {
    outline: none;
  }
}

body {
  font-family: JetBrains Mono, 'Courier New', monospace;
}

.container {
  width: 700px;
  margin: 0 auto;
}